.out {
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: go-out .8s linear forwards;
}

.in {
    position: relative;
    pointer-events: none;
    animation: go-out .8s linear reverse;
}

@keyframes go-out {
    0% {
        transform: translate(0);
    }

    70% {
        transform: translateX(-130%);
        height: 20px;
    }

    100% {
        transform: translateX(-130%);
        height: 0px;
    }
}