@import '../../components/form/form.scss';

.main-wrapper {
    width: 100%;

    &__title {
        font-size: 2em;
    }

    &__form-view {
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
    }

    &__form-result {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            text-align: center;
        }

        &__result-views {
            width: 120px;
            height: 30px;
            padding: 5px;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            background: $formBackground;

        }
    }
}