.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid blue;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background: gray;
        color: white;
    }

}